
<nav class="navbar">
  <a class="navbar-brand" href="/">NewsPortal</a>
  <button class="navbar-toggler" onclick="toggleNavbar()">☰</button>
  <ul id="navbar-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>

